<div class="container">
  <h1>Directiva NgFor</h1>
  <div class="container1">
    <div class="card" *ngFor="let maestro of ListaMaestro; let i = index">
      <div class="datos">
        <img [src]="maestro.img_url" [alt]="i" />
        <b>Nomb</b>: {{ maestro.nombre }}<br />
        <b>Edad</b>: {{ maestro.edad }}<br />
        <b>Materia</b>: {{ maestro.materia }}<br />
        <b>Activo</b>: {{ maestro.activo }}<br />
        <div class="boton">
          <input type="button" value="Contacto" class="info" />
        </div>
      </div>
    </div>
  </div>
</div>
